* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --white-FFFFFF: #ffffff;
  --white-transparent-10: rgba(255, 255, 255, 0.1);
  --white-transparent-20: rgba(255, 255, 255, 0.2);
  --white-transparent-70: rgba(255, 255, 255, 0.7);
  --white-gray-E7E7E7: #e7e7e7;
  --black-000000: #000000;
  --black-transparent-25: rgba(0, 0, 0, 0.25);
  --primary-color-violet-A73AA7: #a73aa7;
  --primary-transparent-color-violet-10: rgba(167, 58, 167, 0.1);
  --secondary-color-green-37DBC2: #37dbc2;
  --third-color-violet-blue-6F66BA: #6f66ba;
  --four-color-yellow-E1FF26: #e1ff26;
  --five-color-violet-pink-BC6BFA: #bc6bfa;
  --six-color-orange-C18151: #c18151;
  --seven-color-violet-dark-6E36B3: #6e36b3;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
