@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Architects+Daughter&family=Concert+One&display=swap");

* {
  padding: 0px;
  margin: 0px !important;
  box-sizing: border-box;
  font-family: "Concert One", "Architects Daughter", sans-serif !important;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Estilo scroll bar navegador */

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(184, 184, 184); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border: 3px solid rgb(116, 116, 116);
}

/* Estilo scroll bar caixas de texto menores */

.textScroll::-webkit-scrollbar {
  width: 6px;
}

.textScroll::-webkit-scrollbar-track {
  background-color: rgb(116, 116, 116);
  width: 2px;
}

.textScroll::-webkit-scrollbar-thumb {
  background-color: #e1ff26;
  border: 3px solid #e1ff26;
}

.containerGirlsCardLinkToSection {
  margin-top: -60px !important;
}
